{% load static %}
<style>   
.bosluk {
    background-color: #333;
    float: left;
    width: 20%;
    padding: 24px;
    margin-top: 5px;
    text-align: center;
}
.footer {
    background-color: #333;
    float: left;
    width: 60%;
    padding: 12.2px;
    margin-top: 5px;
    text-align: center;
}
.sosyal {
    background-color: #686868;
    float: left;
    width: 20%;
    padding: 8.9px;
    margin-top: 5px;
    text-align: center;
}
</style>

<div style="color: #f2f2f2;">
    <div class="bosluk">

    </div>
    <div class="footer">
         @2023-Tweet Yardim Analizi
    </div>
    <div class="sosyal">
        <a href="https://tr-tr.facebook.com/" target="_blank"><img src="{% static 'img/fc.png' %}" style="border-radius:5px;width:30px;height:30px;"></a>
        <a href="https://twitter.com/login?lang=tr" target="_blank"><img src="{% static 'img/tw.png' %}" style="border-radius:5px;width:30px;height:30px;"></a>
        <a href="https://www.instagram.com/?hl=tr" target="_blank"><img src="{% static 'img/insta.png' %}" style="border-radius:5px;width:30px;height:30px;"></a>
        <a href="https://tr.linkedin.com/" target="_blank"><img src="{% static 'img/in.png' %}" style="border-radius:5px;width:30px;height:30px;"></a>
    </div>
</div>